@import '../../../styles/variable.scss';

.back {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: $BackGroundModal ;
   z-index: 999999;
   display: flex;
   justify-content: center;
   align-items: center;
}

.modal {
   background-color: #fff;
   padding: 1em 2em;
   font-family: $fontFamily;
   width: 700px;
   position: relative;

   &Head {}

   &Title {
      font-size: 1.5rem;
      line-height: 40px;
   }

   &Close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: -80px;
      width: 50px;
      height: 50px;

      img {
         width: 100%;
         height: 100%;
      }
   }
}

@media screen and (max-width:1025px) {
   .modal {
      padding-top: 50px;
   }

   .modalClose {
      right: 50%;
      transform: translate(50%, 0%);
   }
}