@import '../../../styles/variable.scss';

.card {
   width: 100%;
   padding: 1.5rem 2rem;
   border-top: 1px solid $borderBlurColor;

   &Title {
      display: flex;
      margin-bottom: 1em;
   }

   &Supp {
      color: $fontColorPlaceHolder;
      font-weight: 400;
      white-space: nowrap;
      margin-right: .5rem;
   }

   &Name {
      font-weight: 600;
      margin-bottom: .5em;
   }

   &Body {}

   &Text {
      color: $fontColorGrey;
      font-size: 1rem;
      line-height: 1.1em;
   }
}

@media screen and (max-width:768px) {
   .card {

      &Title {
         display: flex;
         flex-wrap: wrap;
      }

      &Supp {
         margin-bottom: .5em;
      }
   }
}