@import './variable.scss';


.card {
   padding: 1rem 2rem;
   border: 1px solid $borderBlurColor;

   &:hover {
      border: 1px solid $borderOnColor;
   }

   &Head {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
   }

   &Ava {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: $borderBlurColor;
      display: flex;
      justify-self: start;
      justify-content: center;
      overflow: hidden;
      margin-right: 1em;

      &Img {}
   }

   &Info {
      border: 1px solid #000;
      padding: 0;
      display: flex;

      &Item {
         width: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 1rem;
         padding: .75em 1.5em;
      }

      &Item:first-child {
         border-right: 1px solid #000;
      }
   }


   &Title {
      font-size: $fontSizeTitleCard;
      font-weight: 500;
   }

   &Name {
      font-size: $fontSizeNameCard;
      line-height: calc($fontSizeNameCard + 5px);
      font-weight: 700;
      display: flex;
      margin-bottom: 1rem;
   }

   &Supp {
      color: $fontColorPlaceHolder;
      font-weight: 400;
      white-space: nowrap;
      margin-right: .5rem;
   }

   &Preview {
      width: 100%;
      overflow: hidden;
      position: relative;

      &::after {
         content: '...';
         position: absolute;
         bottom: 0;
         right: 0;
         background-color: #fff;
      }
   }

   &Body {
      white-space: nowrap;

   }
}

.marginCenter {
   margin: 0 auto;
}

.Myalert {
   position: absolute;
   top: 1rem;
   left: 0;
   width: 100%;
   margin: 1em;
   padding: 0 2em;
   z-index: 9999991;
}

.containerSmall {
   padding: 0 15px;
   max-width: 800px;
   margin: 0 auto;
}



.containerTabletForHome {
   padding: 70px 15px;
   max-width: 800px;
   margin: 0 auto;
}

.containerBig {
   padding: 0 15px;
   max-width: 1200px;
   margin: 0 auto;
}

.hr {
   margin: 2em 0;
}

.BtnBlack {
   width: 100%;
   height: 100%;
   padding: 10px 20px;
   font-size: 0.875rem;
   font-family: $fontFamily;
   font-weight: 600;
   background-color: #000;
   color: #fff;
   transition: all 0.5s;
   border: 0;
   cursor: pointer;

   &:disabled {
      background-color: rgba($color: #000000, $alpha: .5);
   }

   &:hover {
      background-color: rgba($color: #000000, $alpha: .8);
   }
}

.BtnWhite {
   width: 100%;
   height: 100%;
   padding: 10px 20px;
   font-size: 0.875rem;
   font-family: $fontFamily;
   font-weight: 600;
   background-color: #fff;
   color: #000;
   transition: all 0.5s;
   border: 0;
   cursor: pointer;

   &:disabled {
      // background-color: rgba($color: #000000, $alpha: .5);
      opacity: .6;
   }

   &:hover {
      background-color: #838996;
   }
}

.ds-flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.pos-center {
   width: 100%;
   height: 100%;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   justify-content: center;
   align-items: center;
}