$borderBlurColor: #DADADA;
$borderOnColor: #000;
$ColorBlack: #101010;
$fontFamily: 'Open Sans';
$fontFamilyTitle: 'Alegreya Sans SC';
$fontSizeLogo: 1.75rem;
$fontSizeTitlePage: 35px;
$fontSizeTitleCard: 1.3rem;
$fontSizeNameCard: 1.1rem;
$fontColorPlaceHolder: rgba($color: #000000, $alpha: .41);
$LinkColor: #318CE7;
$fontColorGrey: rgba($color: #000000, $alpha: .8);
$BackGroundModal: rgba($color: #000000, $alpha: .5);