@import '../../../styles/variable.scss';

.post {
   &Name {
      font-size: $fontSizeTitleCard;
      font-weight: 600;
   }

   &Info {

      &Item {
         display: flex;
         margin-bottom: 1rem;
      }
   }

   &Supp {
      font-size: $fontSizeTitleCard;
      color: $fontColorPlaceHolder;
      margin-right: .5em;
   }
}

@media screen and (max-width:768px) {

   .postName {
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
   }

   .postSupp {
      font-size: 24px;
      line-height: 29px;
   }
}

@media screen and (max-width:425px) {

   .postName {
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
   }

   .postSupp {
      font-size: 18px;
      line-height: 22px;
   }
}