@import '../../styles/variable.scss';

.user {
   padding-top: 100px;

   &HR {
      margin: 2rem 0;
   }

   &Posts {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, minmax(23%, 50%));
      grid-template-rows: 1fr 1fr;
      gap: 15px;

      &Title {
         font-size: $fontSizeLogo;
         font-weight: 500;
         margin-bottom: 1em;
      }
   }
}