@import '../../../styles/variable.scss';

.card {
   cursor: pointer;
   padding: 1rem 2rem;
   border: 1px solid $borderBlurColor;

   &:hover {
      border: 1px solid $borderOnColor;
   }

   &Head {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
   }

   &Ava {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: $borderBlurColor;
      display: flex;
      justify-self: start;
      justify-content: center;
      overflow: hidden;
      margin-right: 1em;

      &Img {}
   }

   &Info {
      border: 1px solid #000;
      padding: 0;
      display: flex;

      &Item {
         width: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 1rem;
         padding: .75em 1.5em;
      }

      &Item:first-child {
         border-right: 1px solid #000;
      }
   }


   &Title {
      font-size: $fontSizeTitleCard;
      font-weight: 500;
   }

   &Name {
      font-size: $fontSizeNameCard;
      line-height: calc($fontSizeNameCard + 5px);
      font-weight: 700;
      display: flex;
      margin-bottom: 1rem;
   }

   &Supp {
      color: $fontColorPlaceHolder;
      font-weight: 400;
      white-space: nowrap;
      margin-right: .5rem;
   }

   &Preview {
      width: 100%;
      overflow: hidden;
      position: relative;

      &::after {
         content: '...';
         position: absolute;
         bottom: 0;
         right: 0;
         background-color: #fff;
      }
   }

   &Body {
      white-space: nowrap;

   }


}