.intro {
   width: 100%;
   max-width: 1366px;
   margin: 0 auto;
   height: auto;
   padding-top: 70px;
   position: relative;

   &Img {
      width: 100%;
      height: auto;
   }


   &Block {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &Item {
      position: relative;
      margin-bottom: 1rem;
   }

   &Gradient {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);
      max-width: 90vw;
      min-width: 200%;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &Title {
      line-height: 60px;
      font-size: 50px;
      font-weight: 700;
      color: #fff;
   }

   &Text {
      position: relative;
      text-align: center;
      z-index: 23;
   }

   &Supp {
      z-index: 2;
      color: #fff;
      font-size: 30px;
      list-style: 36px;
      font-weight: 700;
      z-index: 2;
   }
}


@media screen and (max-width:768px) {
   .intro {
      display: none;
   }
}